@use '../../styles/colors' as colors;
@use '../../styles/layout' as layout;

.trackInfo {
  width: fit-content;
  padding: layout.$spacing-lg layout.$spacing-xl;
  display: flex;
  align-items: center;
  gap: layout.$spacing-xl;
  box-shadow: 0 4px 12px colors.$color-primary-alpha-15;
}

.info {
  color: colors.$color-primary;
  font-size: layout.$font-md;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fileName {
  font-weight: layout.$font-medium;
}

.duration {
  font-weight: layout.$font-semibold;
}