@use '../../styles/colors' as colors;
@use '../../styles/layout' as layout;

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  white-space: nowrap;
  font-size: layout.$font-lg;
  font-weight: layout.$font-medium;
  color: colors.$color-primary;
  padding: 10px layout.$spacing-xl;
  background: colors.$color-primary-alpha-10;
  border-radius: layout.$radius-lg;
  border: layout.$border-width-thin solid colors.$color-primary-alpha-30;
  text-align: center;
  z-index: layout.$z-index-overlay;
}