@use '../../styles/colors' as colors;
@use '../../styles/layout' as layout;

.resetButton {
  padding: layout.$button-padding-md;
  font-size: layout.$font-sm;
  font-weight: layout.$font-medium;
  color: colors.$color-white;
  background: linear-gradient(135deg, colors.$color-primary-light 0%, colors.$color-primary-lighter 100%);
  border-radius: layout.$radius-lg;
  box-shadow: layout.$shadow-md colors.$color-primary-light-alpha-30;
  width: fit-content;

  &:hover {
    box-shadow: layout.$shadow-lg colors.$color-primary-light-alpha-40;
    background: linear-gradient(135deg, colors.$color-primary-light 0%, colors.$color-primary-lightest 100%);
  }

  &:active {
    box-shadow: layout.$shadow-sm colors.$color-primary-light-alpha-30;
  }
}
