@use '../../styles/layout' as layout;

.waveformContainer {
  width: layout.$container-width;
  height: layout.$container-height;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity layout.$transition-fast;
  opacity: 1;

  &.loading {
    opacity: 0;
  }
}
