.waveformContainer {
  width: 99%;
  height: 450px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.2s;
  opacity: 1;

  &.loading {
    opacity: 0;
  }
}
