.loading {
  position: absolute;
  top: 0;
  left: 50%;
  // transform: translate(-50%, -50%);
  transform: translateX(-50%);
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  color: #ff1493;
  padding: 10px 20px;
  background: rgba(255, 20, 147, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(255, 20, 147, 0.3);
  text-align: center;
  z-index: 10;
}
