.dragAndDrop {
  width: 99%;
  height: 450px;
  margin-top: 30px;
  border: 2px dashed #666;
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragging {
  border: 2px dashed #ff1493;
  background-color: rgba(255, 20, 147, 0.1);
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 1;
}
