@use '../../styles/layout' as layout;

.player {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: layout.$spacing-xl;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soundEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: layout.$spacing-xl;
  width: 500px;
}
